.detail {
    padding: 2rem 0rem;
    position: relative;

    &__content {
        display: flex;
        &__little {
            font-size: 0.9rem;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-around;
        &__column {
            flex-direction: column;
            &__center {
                text-align: center;
                & > div {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    .goback {
        position: absolute;
    }

    .outer-div {
        height: 22rem;
        margin-bottom: 0.5rem;
    }

    .left-block {
        width: 45%;
    }

    .right-block {
        width: 55%;
        padding-left: 2rem;
    }

    h1 {
        margin-bottom: 3rem;
    }

    h3 {
        text-align: left;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        text-decoration: none;
    }
    
    h4 {
        text-align: center;
        margin: 0.5rem auto;
        color: var(--primary);
        font-weight: 700;
        font-size: 1.2rem;
        border-bottom: 1px solid var(--primary);
        width: fit-content;
    }

    &__text {

    }

    &__date {
        font-size: 0.9rem;
        &:before {
            content: 'Date: ';
        }
    }

    &__bron {
        font-size: 0.9rem;
        &:before {
            content: 'Bron: ';
        }
    }

    &__reference {
        font-size: 0.9rem;
        &:before {
            content: 'Referentie: ';
        }
    }

    &__contact {
        margin-bottom: 0.5rem;
    }
}


@media only screen and (max-width: 1360px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 720px) {
}

@media only screen and (max-width: 540px) {
    .detail {
        padding: 1rem 0rem;

        &__content {
            flex-direction: column-reverse;
        }
        .left-block {
            width: 100%;
            margin-top: 1rem;
        }
    
        .right-block {
            width: 100%;
            padding-left: 0rem;
        }
        h1 {
            margin-bottom: 0.5rem;
            text-align: left;
        }
    }
}

@media only screen and (max-width: 390px) {
}