.filter {
    border: 1px solid var(--primary);
    border-radius: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    
    button {
        margin: 0rem;
    }

    select {
        padding: 0.5rem;
        margin-left: 1rem;
        border: 1.5px solid var(--primary);
        border-radius: 4px;
        font-size: 1.2rem;

        option {
            padding: 0.5rem;
        }
    }
}

@media only screen and (max-width: 1360px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 720px) {
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 390px) {
}