.filter {
    border: 1px solid var(--primary);
    border-radius: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-top: 3rem;

    &__input {
        display: flex;
        &__field {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-right: 2rem;
        }
    }
    
    button {
        margin: 0rem;
    }

    select {
        padding: 0.5rem;
        margin-left: 1rem;
        border: 1.5px solid var(--primary);
        border-radius: 4px;
        font-size: 1.2rem;
        cursor: pointer;

        option {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1360px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 960px) {
    .filter {
        &__input {
            margin-left: 1rem;
            &__field {
                flex-direction: column;
                align-items: center;
                padding: 0.5rem 0rem;
                select {
                    margin: 0;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .filter {
        select {
            font-size: 1rem;
        }
        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 540px) {
    .filter {
        flex-direction: column;
        border-radius: 1rem;
        &__input {
            margin: 0rem;
            flex-direction: column;
            &__field {
                margin: 0;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem 0rem;
                select {
                    margin: 0;
                    margin-top: 0.5rem;
                }
            }
        }

        select, button {
            margin: 0.5rem 0rem;
        }
    }
}

@media only screen and (max-width: 390px) {
    .filter {
        select, button {
            font-size: 0.75rem;
        }
    }
}