.social-media {
    display: flex;
    align-items: center;
    &__item {
        color: var(--white);
        font-size: 2rem;
        &:hover {
            transition: 0.3s;
            color: var(--secondary);
        }
    }
}