.social-media {
    display: flex;
    align-items: center;
    &__item {
        transition: 0.3s;
        color: var(--white);
        font-size: 2rem;
        a {
            color: var(--white);
            &:hover {
                transition: 0.3s;
                color: var(--secondary);
                transform: scale(1.2);
            }
        }
        &:hover {
            transition: 0.3s;
            color: var(--secondary);
            transform: scale(1.2);
        }
    }
}