<div class="home">
    <section class="container intro row">
        <div>
            <video class="loading-panel" play autoplay loop>
                <source src="./videos/dive_into_programming.mp4" type="video/mp4">
                Your browser doesn't support html videos.
            </video>            
        </div>
        <article>
            <h1>Dive into the world of programming</h1>
            <p class="context">
                Learn more about designing and programming and make some great apps. 
                Kill those bugs and be creative !
            </p>
            <a href="#!/opleidingsinfo" data-navigo>
                <button class="btn-1">
                    meer info
                </button>
            </a>
        </article>
    </section>
    <section class="vakken">
        <h1>Vakken</h1>
        <a href="#!/curriculum" data-navigo>
            <h3>Bekijk ons curriculum</h3>
        </a>
        <div class="slider">
            <div class="slider__track">
                <ul id="banner-courses" class="slider__track__list">

                </ul>
            </div>
        </div>
    </section>
    <section class="follow-us">
        <h1>Follow us</h1>
        <ul id="social-media" class="social-media follow-us__list">
            
        </ul>
    </section>
    <section class="lastBlogPosts container">
        <h1>Last blogposts</h1>
        <ul id="lastBlogPosts" class="blogPost">

        </ul>
    </section>
</div>