<div class="opleidingsinfo">
    <section class="container row reverse">
        <div>
            <div class="outer-div">
                <div class="inner-div__iframe">
                    <iframe src="https://www.youtube.com/embed/oZE6MQnM0cQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <article>
            <h1>Bekijk ons curriculum</h1>
            <p class="context">
                Het perfecte opleidingsprogramma om een echte front-end developer te worden.
            </p>
            <a href="#!/curriculum" data-navigo>
                <button class="btn-1">
                    Meer info
                </button>
            </a>
        </article>
    </section>
    <section class="technologies container">
        <h1>Technologieën</h1>
        <h3>Enkele technologieën waarvan we gebruik zullen maken <br> gedurende het komende schooljaar</h3>
        <ul class="technologies__content" id="randomTechnologies">

        </ul>
        <button class="btn-3" id="otherTechnologies">
            Load other technologies
        </button>

    </section>
    <section class="container row">
        <div>
            <div class="outer-div">
                <div class="inner-div__iframe">
                    <iframe src="https://www.youtube.com/embed/DG1jVe9l1FM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <article>
            <h1>Meer details ?</h1>
            <p class="context">
                Bekijk deze video en klik op de onderstaande link, indien je nog meer details over deze richting te weten wil komen.<br> 
            </p>
            <a href="https://www.arteveldehogeschool.be/opleidingen/graduaat/programmeren" target="_blank" rel="noopener noreferrer">
                <button class="btn-1">
                    Meer info
                </button>
            </a>
        </article>
    </section>
</div>