<div class="teachers container">
    <h1>Maak kennis met onze docenten</h1>
    <form class="filter" name="filterTeachers">
        <div class="filter__input">
            <div class="filter__input__field">
                <p class="filter__title">Vak:</p>
                <select id="vakken" name="vakken">
                    
                </select>
            </div>
        </div>
        
        <button class="btn-3" type="submit">Filter</button>
    </form>
    <section id="teachers" class="personCardList">

    </section>
    <div id="pages">

    </div>
    <section id="randomBanner">
        
    </section>
</div>