<div class="teachers container">
    <h1>Maak kennis met onze docenten</h1>
    <form class="filter" name="filterTeachers">
        <div class="vak">
            <p class="filter__title"></p>
            <select id="vakken" name="vakken">
                
            </select>
        </div>
        
        <button class="btn-3" type="submit">Filter</button>
    </form>
    <section id="teachers" class="personCardList">

    </section>
    <div id="pages">
        
    </div>
    <section id="randomBanner">
        
    </section>
</div>