.contact {
    &__form {
        background-color: var(--white-green);

        h1 {
            margin-bottom: 2rem;
        }

        &__align {
            width: 50%;
        }

        &__content {
            display: flex;
            flex-direction: column;

            * {
                background-color: var(--white-green);
                width: 100%;
                padding: 1rem;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                border: 2px solid var(--primary-light);
                box-sizing: border-box;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                outline: none;
                &:focus {
                    transition: 0.3s;
                    border: 2px solid var(--primary);
                    background-color: var(--white);
                }
            }
            
            &__identification {
            }

            &__text {
                padding: 1rem 1rem 10rem 1rem;

                &:focus {
                    padding: 1rem 1rem 10rem 1rem;
                }
            }
        }

        &__button {
            margin: 0.5rem 0rem;
        }
    }
}

@media only screen and (max-width: 1360px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 720px) {
    .contact {
        &__form {
            &__align {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 390px) {
    .contact {
        &__form {
            &__align {
                width: 100%;
            }
        }
    }
}