.inverted {
    filter: invert(100%);
}

.fullheight {
    height: 100vw;
}

.reverse {
    flex-direction: row-reverse;
}

@keyframes bounce {  
    50% {
        transform: translateY(-20px);
    }
}