@font-face {
    font-family: UrbanRivals;
    src: url(../fonts/urbanrivalsfont.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Internacional;
    src: url(../fonts/Internacional/Internacional-Bold.ttf);
    src: url(../fonts/Internacional/Internacional-Regular.ttf);
    src: url(../fonts/Internacional/Internacional-UltraLight.ttf);
}