* {
    font-family: Internacional, 'Segoe UI', Roboto, sans-serif;
}

h1 {
    font-size: 42px;
    color: var(--primary);
    margin: 1rem 0rem 1.5rem 0rem;
    text-align: center;
}

h2 {
    margin: 0.5rem 0rem 1rem 0rem;
    text-transform: capitalize;
}

h3 {
    color: var(--grey);
    text-decoration: underline;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    line-height: 1.5;
}

.context {
    font-size: 1.25rem;
    font-weight: UltraLight;
    color: var(--grey);
}

@media only screen and (max-width: 1360px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {

    }

    h3 {

    }

    .context {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 960px) {
    h1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .context {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 1.2rem;
        margin: 0.5rem 0rem 1rem 0rem;
    }

    .context {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 390px) {
}