/* Color variables */
:root {
  --primary: rgb(48, 43, 68);
  --secondary: rgb(255, 186, 184);
  --black-dark: rgb(17, 17, 17);
  --black-middle: rgb(26, 26, 26);
  --black-light: rgb(51, 51, 51);
  --grey: rgb(112, 112, 112);
  --white-green: rgb(241, 249, 251);
  --white: rgb(255, 255, 255);
}